@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col">
            <a asp-action="Index" asp-controller="UserInfoes">User</a>
        </div>
        <div class="col"></div>
        <a asp-action="Index" asp-controller="LoginInfoes">User LogIn</a>
        <div class="col">
            <a asp-action="Index" asp-controller="Categories">Category</a>
        </div>
        <div class="col"></div>
        <a asp-action="Index" asp-controller="Conditions">Conditions</a>
        <div class="col">
            <a asp-action="Index" asp-controller="Posts">Post</a>
        </div>
        <div class="col"></div>
        <a asp-action="Index" asp-controller="Ratings">Rating</a>
    </div>
</div>
